<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trading App</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
{% load mathfilters %}
{% include 'trade/navbar.html' %}
<h1 class="text-center my-3">Stock List</h1>
<div class="container">
    <div class="my-2 mx-auto">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
             role="alert">{{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="my-2 mx-auto">
        {% include 'trade/pagination.html' with page_obj=stocks only%}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-light table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>DATE</th>
                            <th>TRADE CODE</th>
                            <th>HIGH</th>
                            <th>LOW</th>
                            <th>OPEN</th>
                            <th>CLOSE</th>
                            <th>VOLUME</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stock in stocks %}
                        <tr>
                            <td>{{forloop.counter|add:prevElementCount}}</td>
                            <td>{{stock.id}}</td>
                            <td>{{stock.date}}</td>
                            <td>{{stock.trade_code}}</td>
                            <td>{{stock.high}}</td>
                            <td>{{stock.low}}</td>
                            <td>{{stock.open}}</td>
                            <td>{{stock.close}}</td>
                            <td>{{stock.volume}}</td>
                            <td>
                                <a href="/delete/{{stock.id}}"
                                   class="btn btn-danger btn-sm">Delete</a>
                                <a href="/update/{{stock.id}}"
                                   class="btn btn-success btn-sm">Update</a>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% bootstrap_javascript %}

</body>
</html>