<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Stock Details</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
{% include 'trade/navbar.html' %}
<h1 class="text-center my-3">Update Stock</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-light text-black">
                <div class="card-body">
                    <form action="/do-update/{{stockIndex}}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="date">Stock Date</label>
                            <input
                                    id="date"
                                    type="date"
                                    class="form-control"
                                    placeholder="Enter stock name"
                                    name="date"
                                    required
                                    value="{{stock.date|date:'Y-m-d'}}"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="trade_code">Stock Trade Code</label>
                            <input
                                    id="trade_code"
                                    type="text"
                                    required
                                    minlength="0"
                                    maxlength="40"
                                    class="form-control"
                                    placeholder="Enter Stock Trade Cod"
                                    name="trade_code"
                                    value="{{stock.trade_code}}"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="high">Stock High (2 d.p.)</label>
                            <input
                                    id="high"
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Stock High"
                                    name="high"
                                    required
                                    value="{{stock.high}}"
                                    step="any"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="low">Stock Low (2 d.p.)</label>
                            <input
                                    id="low"
                                    type="number"
                                    required
                                    class="form-control"
                                    placeholder="Enter Stock Low"
                                    name="low"
                                    value="{{stock.low}}"
                                    step="any"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="close">Stock Open (2 d.p.)</label>
                            <input
                                    id="open"
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Stock Open"
                                    name="open"
                                    required
                                    value="{{stock.open}}"
                                    step="any"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="close">Stock Close (2 d.p.)</label>
                            <input
                                    id="close"
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Stock Close"
                                    name="close"
                                    required
                                    value="{{stock.close}}"
                                    step="any"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="volume">Stock Volume (2 d.p.)</label>
                            <input
                                    id="volume"
                                    type="number"
                                    class="form-control"
                                    placeholder="Enter Stock Volume"
                                    name="volume"
                                    required
                                    value="{{stock.volume}}"
                                    step="any"
                            />
                        </div>
                        <div class="container text-center">
                            <button class="btn btn-success">
                                Update Stock
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% bootstrap_javascript %}

</body>
</html>